<ion-header> 
  <ion-toolbar color="primary" class="header">
    <ion-title>{{displayName}} : Full Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="tabs/(contacts:contacts)"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div >
  <div class="profile-image">
    <img src="{{avatar}}">
  </div>
  <div class="center">
    <h2 (click)="editname()">{{displayName}} </h2>
  </div>
  <div class="center">
    <h2 (click)="editphone()">{{phone}}</h2>
  </div>
  <div class="center">
    Tap on Phone or Display Name to change it.
  </div>
  <div class="spacer" style="height: 10px;"></div>
  </div>
</ion-content>

