.newmessage{
    background-color: #ffee00;
    float:right;
}
.messagelist {
    width: 100%;
    padding-left:0px;
}
h4 {
    padding-top: 1px;
    font-size: 12px;
    margin: 0;
}

p {
    font-size: 12px;
    color: rgb(112, 112, 112);
    margin: 0;
}

.header {
    padding-bottom: 2px;
}
