<ion-header> 
    <ion-toolbar color="primary" class="header">
      <ion-title>{{displayName}} : All Messages</ion-title>
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="tabs/(messages:messages)"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class = "scroll-content">
    <div>
     <div *ngFor = "let item of messageservice.allmessages">
            <!-- contact message -->
            <div class="leftside" *ngIf="item.sentby === id" >
              <div class="">
                <ion-avatar >
                  <img src="{{photoURL}}">
                </ion-avatar>
              </div>
              <div class="bubble contact">
                <h3>{{item.message}}</h3>
                <p class="ts-left" > sent {{item.date  | date: 'MM/dd/yyyy H:mm'  }} </p>
              </div>
            </div>
          
          <!-- system message  -->
          <div class="rightside" *ngIf="item.sentby === messageservice.systemMessage">
            <div class="img">
              <ion-avatar  >
                <img src="{{item.admin.photoURL}}"> 
              </ion-avatar>
            </div>
            <div class="system bubble " >
              <h3 > {{item.message}} </h3>
              <p class="ts-system"> sent {{item.date  | date: 'MM/dd/yyyy H:mm'  }} </p>
            </div>
          </div>

          <!-- admin message -->
          <div class="rightside" *ngIf="item.sentby != id && item.sentby != messageservice.systemMessage">
            <div class="img right" >
              <ion-avatar>
              <img src="{{item.admin.photoURL}}">
            </ion-avatar>
            </div>
            <div class="bubble admin right" >
              <h3 >{{item.message}}</h3> 
              <p class="ts-right"> sent {{item.date  | date: 'MM/dd/yyyy H:mm'  }} </p>
            </div>
          </div>
          </div>
  </div>
</div>
</ion-content>

<ion-footer ion-fixed>    
  <ion-toolbar class="mb"> 
    <ion-buttons end>       
      <ion-textarea class="messagesendtext" rows="1" [(ngModel)]="newmessage" autocomplete="on" spellcheck="true" (keyup.enter)="addmessage()" placeholder="Write your message ..." autosize></ion-textarea>
      <ion-button (click)="addmessage()">
        <ion-icon name="send" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer>
