<ion-header> 
    <ion-toolbar color="primary" class="header">
      <ion-title>{{displayName}} : All Messages</ion-title>
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="tabs/(messages:messages)"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content #content>
  <div class = "chat">
      <ion-list no-lines class="chatlist">
          <ion-item *ngFor = "let item of messageservice.allmessages" text-wrap class="test">
            <!-- contact message -->
            <ion-avatar *ngIf="item.sentby === id">
              <img   src="{{photoURL}}">
            </ion-avatar>
            <div class="bubble me" *ngIf="item.sentby === id">
              <h3>{{item.message}}</h3>
              <p class="ts-left" > sent {{item.date  | date: 'MM/dd/yyyy H:mm'  }} </p>
            </div>
            <!-- system message  -->
            <div class="bubble center" slot="end" *ngIf="item.sentby === messageservice.systemMessage">
              <h3 > {{item.message}} </h3>
              <p class="ts-system"> sent {{item.date  | date: 'MM/dd/yyyy H:mm'  }} </p>
            </div>
            <ion-avatar slot="end"  *ngIf="item.sentby === messageservice.systemMessage">
                <img src="{{item.admin.photoURL}}"> 
              </ion-avatar>
            <!-- admin message -->
              <div class="bubble you" slot="end" *ngIf="item.sentby != id && item.sentby != messageservice.systemMessage">
                <h3 >{{item.message}}</h3> 
                <p class="ts-right"> sent {{item.date  | date: 'MM/dd/yyyy H:mm'  }} </p>
              </div>
              <ion-avatar slot="end" *ngIf="item.sentby != id && item.sentby != messageservice.systemMessage">
                  <img src="{{item.admin.photoURL}}">
              </ion-avatar>
           </ion-item>
        </ion-list>
  </div>
  </ion-content>
  <ion-footer ion-fixed>    
    <ion-toolbar class="mb"> 
        <ion-buttons end>       
     <!-- <ion-input [(ngModel)]="newmessage" autocomplete="on" spellcheck="true" (keyup.enter)="addmessage()" placeholder="Write your message ..."></ion-input> 
     --> 
      <ion-textarea class="messagesendtext" rows="1" [(ngModel)]="newmessage" autocomplete="on" spellcheck="true" (keyup.enter)="addmessage()" placeholder="Write your message ..." autosize></ion-textarea>
      <ion-button (click)="addmessage()">
          <ion-icon name="send" color="secondary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>    
  </ion-footer>
