.chat{
    width: auto;
}
.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 6px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 7px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.contact {
    margin: 5px 5px 5px 20px;
    padding: 0px 10px 0px 10px;
}

.contact::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.admin {
    background-color: #ddff44;   
    margin: 5px 20px 5px 5px;
    padding: 0px 10px 0px 10px;
}

.admin::before {
    background-color: #ddff44;
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}
.system {
    background-color: rgb(138, 201, 238);  
    margin: 5px 20px 5px 5px;
    padding: 0px 10px 0px 10px;
    margin-left:40px;
}
.system::before {
    background-color: rgb(138, 201, 238);
    box-shadow: 2px -2px 2px 0 rgba(180, 228, 8, 0.4);
    right: -9px;        
}
.chatwindow {
    padding-bottom: 70px;
}
.ts-left { 
    font-size: 8px;
    float: left;
    margin: auto;
    padding: 0;
}
.ts-right {
    float:right;
    font-size: 8px;
    text-align: right;
    margin: auto;
    padding: 0;
}
.ts-system {
    float:right;
    font-size: 8px;
    text-align: right;
    margin: auto;
    padding: 0;
}
.mb {
    background-color: rgb(170, 27, 27);
    width: auto;
}
h3 {
    font-size: 14px;
    margin:10px 10px 5px 10px;
}
img {
    max-width: 40px;
    width: 40px;
    max-height: 40px;
    height: 40px;
    margin: 10px 0px 0px 10px;

}

.imgsize {
    transform: scale(1.25, 1.0);
    -ms-transform: scale(1.25, 1.0);
    -webkit-transform: scale(1.25, 1.0);
}
.messagesendtext {
    color: black;
}
.container {
    display: flex;
}
.leftside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.rightside {
    display: flex;
    width: 100%;
    flex-flow: row-reverse;
}
.scroll-content  {
    height:450px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.reversed-content {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .content-reversed .fix {
     flex: 1 1 auto;
   }